<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Store List</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/css/styles.css') }}"
  />
</head>
<body>
  <header class="header">
    <h1 class="header__title">All Stores</h1>
    <nav class="nav">
      <a class="nav__link" href="{{ url_for('main.home') }}">Home</a>
      <a class="nav__link" href="{{ url_for('main.store_search') }}">Explore</a>
      <a class="nav__link" href="{{ url_for('main.favorite_stores') }}"
        >Favorites</a
      >
      <a class="nav__link" href="{{ url_for('main.logout') }}">Log Out</a>
    </nav>
  </header>

  <main class="main-content">
    <section class="store-list">
      {% for store in stores %}
      <div class="store-card">
        <img
          class="store-card__image"
          src="{{ store.image_url }}"
          alt="{{ store.name }}"
        />
        <h2 class="store-card__title">{{ store.name }}</h2>
        <p class="store-card__description">{{ store.description }}</p>
        <a href="{{ url_for('main.store_detail', store_id=store._id) }}"
          >View Details</a
        >
      </div>
      {% endfor %}
    </section>
  </main>

  <footer class="footer">
    <p class="footer__text">&copy; 2025 Grocery Quest</p>
  </footer>
</body>
</html>
